body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

/* ===BUTTON=== */

/* button {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
} */

.hero-button {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
}

.hero-button:hover:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* **==CONTAINER==** */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ***===LOGO===*** */
.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: #4d5ae5;
  display: inline-block;
}

.logo-st-dk {
  color: #2e2f42;
}

.logo-st-lt {
  color: #f4f4fd;
}

/* ***===HEADER===*** */
.header {
  background-color: #ffffff;
}

.header-nav-links .nav-link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.header-nav-links .nav-link:hover,
.header-nav-links .nav-link:focus {
  color: #404bbf;
}

.header-address-list .adress-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.header-address-list .adress-link:hover,
.header-address-list .adress-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

/* ***===HERO TITLE===*** */
.hero {
  background-color: #2e2f42;
  padding-bottom: 188px;
  padding-top: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
}

/* ***===ADVANTAGES===*** */
.advantages {
  background-color: #ffffff;
}

.advantages-title .visually-hidden {
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.advantages-list {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  gap: 24px;
}
.advantages-subtitle {
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-list-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

/* ***===OUR TEAM===*** */
.our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team-title {
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.our-team-list-item {
  background-color: #ffffff;
}

.our-team-subtitle {
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: 500;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  text-align: center;
}

.our-team-card {
  padding: 32px 16px;
}

/* ***===OUR PORTFOLIO===*** */
.our-portf {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-portf-title {
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-portf-subtitle {
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-portf-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.our-portf-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.our-portf-card {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

/* ***===FOOTER===*** */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  max-width: 264px;
}

.footer-logo {
  margin-bottom: 16px;
}
/* h1
.title-text {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-weight: 700;
  text-align: center;
} */

/* h2 .title-section {
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
} */

/*  h3 .title-section-small {
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-weight: 500;
    color: #2e2f42;
  } */

/* .text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
  } */
